<div class="mini-toolbar" style="border-bottom:0;padding:0px;">       
    <table style="width:100%;">
        <tr>
            <td style="width:100%;">
                <a class="mini-button" iconCls="icon-edit" onclick="onModifyRow()">@Resources.Common_Resource.ResourceManager.GetString("Modify")</a>     
            </td>
        </tr>
    </table>           
</div>
<div class = "mini-fit">
    <div id ="doorTimeGird" class="mini-datagrid" style="width:100%;height:100%;" allowResize="true"
            url="LoadDoorTimeList"  idField="DoorTimeID">
            <div property="columns">
                <div type="checkcolumn" ></div>                  
                <div field="Enable" width="30" headerAlign="center" allowSort="true">@Resources.Common_Resource.ResourceManager.GetString("Enable")</div>
                <div field="DoorTimeName" width="50" headerAlign="center" allowSort="true" >@Resources.DeviceManage_Resource.ResourceManager.GetString("DoorTimeName")</div>
                <div field="StartTime" width="90" headerAlign="center" allowSort="true" align="center" dateFormat="HH:mm:ss">@Resources.DeviceManage_Resource.ResourceManager.GetString("StartTime")</div>
                <div field="EndTime" width="90" headerAlign="center" allowSort="true" align="center" dateFormat="HH:mm:ss">@Resources.DeviceManage_Resource.ResourceManager.GetString("EndTime")</div>
                <div field="Monday" type="checkboxcolumn" trueValue="1" falseValue="0" width="30" headerAlign="center">@Resources.AccessManage_Resource.ResourceManager.GetString("Monday")</div>
                <div field="Tuesday" type="checkboxcolumn" trueValue="1" falseValue="0" width="30" headerAlign="center">@Resources.AccessManage_Resource.ResourceManager.GetString("Tuesday")</div>
                <div field="Wednesday" type="checkboxcolumn" trueValue="1" falseValue="0" width="30" headerAlign="center">@Resources.AccessManage_Resource.ResourceManager.GetString("Wednesday")</div>
                <div field="Thursday" type="checkboxcolumn" trueValue="1" falseValue="0" width="30" headerAlign="center">@Resources.AccessManage_Resource.ResourceManager.GetString("Thursday")</div>
                <div field="Friday" type="checkboxcolumn" trueValue="1" falseValue="0" width="30" headerAlign="center">@Resources.AccessManage_Resource.ResourceManager.GetString("Friday")</div>
                <div field="Saturday" type="checkboxcolumn" trueValue="1" falseValue="0" width="30" headerAlign="center">@Resources.AccessManage_Resource.ResourceManager.GetString("Saturday")</div>
                <div field="Sunday" type="checkboxcolumn" trueValue="1" falseValue="0" width="30" headerAlign="center">@Resources.AccessManage_Resource.ResourceManager.GetString("Sunday")</div>
                <div field="Holiday" type="checkboxcolumn" trueValue="1" falseValue="0" width="30" headerAlign="center">@Resources.AccessManage_Resource.ResourceManager.GetString("Holiday")</div>
            </div>
    </div>
</div>

<script type="text/javascript">
    //新增、编辑窗口页面
    function onModifyRow() {
        var grid = mini.get("#doorTimeGird");
        var rows = grid.getSelecteds();
        var row = grid.getSelected();
        if (rows.length != 1) {
            mini.alert("@Resources.Common_Resource.ResourceManager.GetString("PleaseSelectRow")");
            return;
        }
        var value = row.DoorTimeID;
        mini.open({
            url: "../DeviceManage/DoorTimePage",
            title: "@Resources.Common_Resource.ResourceManager.GetString("Modify")", width: 560, height: 380,
            onload: function () {
                var iframe = this.getIFrameEl();
                var data = { id: value };
                iframe.contentWindow.Show(data);
            },
            ondestroy: function (action) {
                grid.reload();

            }
        });

    }
</script>