<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>控制器面板</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
    <script src="../../Scripts/boot.js" type="text/javascript"></script>

    <style type="text/css">
    html, body
    {
        font-size:12px;
        padding:0;
        margin:0;
        border:0;
        height:100%;
        overflow:hidden;
    }
    </style>
</head>
<body> 
    <form id="DoorForm" method="post">

            <div style="margin-top:20px;margin-bottom:20px;margin-left:70px;">
                <table style="table-layout:fixed;">
                    <tr style ="height:35px">
                        <td style="width:90px;">@Resources.DeviceManage_Resource.ResourceManager.GetString("DoorName")</td>
                        <td style="width:150px;">
                            <input name="DoorName" class="mini-textbox" vtype="maxLength:50" required="true"  value=""/>
                            <input name ="DoorID" class="mini-textbox" style="display:none" value=""/>
                            <input name="AlarmMast" id="AlarmMast" class="mini-textbox" style="display:none" value="0"/>
                        </td>
                    </tr>
                    <tr style ="height:35px">
                        <td >@Resources.DeviceManage_Resource.ResourceManager.GetString("OpenTime")</td>
                        <td>    
                            <input name="OpenTime" class="mini-textbox" dateFormat="yyyy-MM-dd HH:mm:ss" value=""/>
                        </td>
                    </tr>
                    <tr style ="height:35px">
                        <td >@Resources.DeviceManage_Resource.ResourceManager.GetString("OpenOutTime")</td>
                        <td>    
                            <input name="CloseOutTime" class="mini-textbox" dateFormat="yyyy-MM-dd HH:mm:ss" value=""/>
                        </td>
                    </tr>

                    <!-- 长时间开门报警 -->
                    <tr style ="height:35px">
                        <td >@Resources.DeviceManage_Resource.ResourceManager.GetString("DoorAlerm2Long")</td>
                        <td>    
                            <input name="DoorAlerm2Long" class="mini-checkbox"  trueValue="true" falseValue="false" />
                        </td>
                    </tr>
                    <!-- 门报警事件 -->
                    <tr style ="height:35px">
                        
                        <td >@Resources.DeviceManage_Resource.ResourceManager.GetString("AlarmMast")</td>
                        <td>    
                            <input bit="1" class="bit-1 alarm-mast-change" type="checkbox" value=""/>
                            @Resources.DeviceManage_Resource.ResourceManager.GetString("DoorAlerm")
                            <input bit="2" class="bit-2 alarm-mast-change" type="checkbox" value=""/> 
                            @Resources.DeviceManage_Resource.ResourceManager.GetString("DoorAlerm2Long")
                        </td>
                    </tr>
                    <tr style ="height:35px">
                        <td ></td>
                        <td>    
                            <input bit="4" class=" bit-4 alarm-mast-change" type="checkbox" value=""/>
                            @Resources.DeviceManage_Resource.ResourceManager.GetString("IllegalCard")
                            <input bit="8" class=" bit-8 alarm-mast-change" type="checkbox" value=""/>
                            @Resources.DeviceManage_Resource.ResourceManager.GetString("IllegalTime")
                        </td>
                    </tr>
                    <!-- 报警持续时间 -->
                    <tr style ="height:35px">
                        <td >@Resources.DeviceManage_Resource.ResourceManager.GetString("AlarmTime")</td>
                        <td>    
                            <input name="AlarmTime" class="mini-textbox" value=""/>                   
                        </td>
                    </tr> 
                    <!-- 双向检测 -->
                    <tr style ="height:35px">
                        <td >@Resources.DeviceManage_Resource.ResourceManager.GetString("PassBack")</td>
                        <td>    
                             <input name="PassBack" class="mini-checkbox"  trueValue="true" falseValue="false" />
                        </td>
                    </tr>
                    <!-- 多人开门时候的人数量 -->
                    <tr style ="height:35px">
                        <td >@Resources.DeviceManage_Resource.ResourceManager.GetString("MCardsOpen")</td>
                        <td>    
                            <input name="MCardsOpen" class="mini-textbox" value=""/>    
                        </td>
                    </tr>

                    <!-- 多人开门控制进出方向 -->
                    <tr style ="height:35px">
                        <td >@Resources.DeviceManage_Resource.ResourceManager.GetString("MCardsOpenInOut")</td>
                        <td>    
                            <input name="MCardsOpenInOut" class="mini-textbox" value=""/>    
                        </td>
                    </tr>
                                            
                </table>
            </div>    
      
        <div style="text-align:center;padding:5px;">                            
            <a id="Modify" class="mini-button" onclick="onSaveData()" style="width:60px;margin-right:20px;">@Resources.Common_Resource.ResourceManager.GetString("OK")</a>       
            <a class="mini-button" onclick="CloseWindow('cancel')" style="width:60px;">@Resources.Common_Resource.ResourceManager.GetString("Cancel")</a>        
        </div>  
    </form>
    <script type="text/javascript">
        mini.parse();

        var form = new mini.Form("#DoorForm");

        //加载窗口信息
        function Show(data) {
            //跨页面传递的数据对象，克隆后才可以安全使用
            receiveData = mini.clone(data);
            $.ajax({
                url: "../DeviceManage/ShowDoor?data=" + receiveData.id,
                cache: false,
                success: function (json) {
                    var Rsp = mini.decode(json);
                    if (Rsp.ErrorCode == "Success") {
                        form.setData(Rsp.Obj);
                        updateCheckbox();
                    } else {
                        mini.alert(Rsp.Message);
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    CloseWindow();
                }
            });
        }
        //保存数据
        function onSaveData() {
            var o = form.getData();
            var json = mini.encode(o);


            form.validate();
            if (form.isValid() == false) return;
            $.ajax({
                url: "../DeviceManage/ModifyDoor",
                type: 'post',
                data: { data: json },
                cache: false,
                success: function (json) {
                    var Rsp = mini.decode(json);
                    if (Rsp.ErrorCode == "Success") {
                        CloseWindow("ok");
                    }
                    else {
                        alert(Rsp.Message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    CloseWindow();
                }
            });
        }
        function CloseWindow(action) {
            if (action == "close" && form.isChanged()) {
                if (confirm("@Resources.Common_Resource.ResourceManager.GetString("SaveDataOrNot")")) {
                    return false;
                }
            }
            if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
            else window.close();
        }
      
        $('.alarm-mast-change').click(function () {
            var bit = $(this).attr("bit");
            var value=$('#AlarmMast').val();
            if ($(this).attr("checked") == "checked") {
                value = Number(value) + Number(bit);
            }
            else {
                value = Number(value) - Number(bit);
            }
            $('#AlarmMast').val(value);
            //test
            var typevalue = mini.get("AlarmMast");
            typevalue.setValue(value);
        });

        function updateCheckbox() {
            var typevalue = mini.get("AlarmMast");
            var value= typevalue.getValue();
            $('#AlarmMast').val(value);

            if ((value & 1) != 0) {
                $('.bit-1').attr("checked", "checked");
            }
            if ((value & 2) != 0) {
                $('.bit-2').attr("checked", "checked");
            }
            if ((value & 4) != 0) {
                $('.bit-4').attr("checked", "checked");
            }
            if ((value & 8) != 0) {
                $('.bit-8').attr("checked", "checked");
            }
        }

    </script>
</body>
</html>