<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>控制器面板</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
    <script src="../../Scripts/boot.js" type="text/javascript"></script>

    <style type="text/css">
    html, body
    {
        font-size:12px;
        padding:0;
        margin:0;
        border:0;
        height:100%;
        overflow:hidden;
    }
    </style>
</head>
<body> 
    <form id="controlForm" method="post">

            <div style="margin-top:20px;margin-bottom:20px;margin-left:70px;">
                <table style="table-layout:fixed;">
                    <tr style ="height:35px">
                        <td style="width:90px;">@Resources.DeviceManage_Resource.ResourceManager.GetString("ControlName")</td>
                        <td style="width:150px;">
                            <input name="ControlName" class="mini-textbox" vtype="maxLength:50" required="true" value=""/>
                            <input name ="ControlID" class="mini-textbox" style="display:none" value=""/>
                        </td>
                    </tr>
                    <tr style ="height:35px">
                        <td >@Resources.DeviceManage_Resource.ResourceManager.GetString("ControlType")</td>
                        <td>    
                            <input id="ControlType" name="TypeID" class="mini-combobox" valueField="TypeID" textField="TypeName" 
                                url="../DeviceManage/LoadTypeList" onvaluechanged="onDeptChanged" required="true"
                                emptyText="@Resources.Common_Resource.ResourceManager.GetString("PleaseSelect")"
                                />
                        </td>
                    </tr>
                    <tr style ="height:35px">
                        <td >@Resources.DeviceManage_Resource.ResourceManager.GetString("ControlCode")</td>
                        <td>    
                            <input name="Code" class="mini-textbox" value=""/>
                        </td>
                    </tr>
                    <tr style ="height:35px">
                        <td >@Resources.DeviceManage_Resource.ResourceManager.GetString("ControlSerial")</td>
                        <td>    
                            <input name="Serial" class="mini-textbox" value=""/>
                        </td>
                    </tr>
                    <tr style ="height:35px">
                        <td >@Resources.DeviceManage_Resource.ResourceManager.GetString("IPAddr")</td>
                        <td>    
                            <input name="Ip" class="mini-textbox" onvalidation ="IPValidation" required="true" value=""/>
                        </td>
                    </tr>
                    <tr style ="height:35px">
                        <td >@Resources.DeviceManage_Resource.ResourceManager.GetString("ControlPort")</td>
                        <td> 
                            <input name="Port" class="mini-textbox" vtype="range:0,65535" required="true" value=""/>
                        </td>
                    </tr>               
                </table>
            </div>    
      
        <div style="text-align:center;padding:5px;">               
            <a id="Create" class="mini-button"  onclick="onSaveData('Create')" style="display:none">@Resources.Common_Resource.ResourceManager.GetString("OK")</a>               
            <a id="Modify" class="mini-button" onclick="onSaveData('Modify')" style="display:none">@Resources.Common_Resource.ResourceManager.GetString("OK")</a>       
            <a class="mini-button" onclick="CloseWindow('cancel')" style="width:60px;">@Resources.Common_Resource.ResourceManager.GetString("Cancel")</a>        
        </div>  
    </form>
    <script type="text/javascript">
        mini.parse();

        //IP地址验证
        function IPValidation(e) {
            if (e.isValid) {
                if (isIP(e.value) == false) {
                    e.errorText = "@Resources.DeviceManage_Resource.ResourceManager.GetString("PleaseInputIPAddr")";
                    e.isValid = false;
                }
            }
        }
        function isIP(v) {
            var re = new RegExp("^(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])$");
            if (re.test(v)) return true;
            return false;
        }
        //端口号验证

        var form = new mini.Form("#controlForm");
        ////////////////////
        //加载窗口信息
        function Show(data) {
            //跨页面传递的数据对象，克隆后才可以安全使用
            receiveData = mini.clone(data);
            if (receiveData.action == "Modify") {
                var showUrl = "../DeviceManage/Show?data=" + receiveData.id;
                $("#Modify").attr('style', 'width:60px;margin-right:20px;');
                var controlType = mini.get("ControlType");
                controlType.disable();
            }
            else if (receiveData.action == "Create") {
                //数据库中不存在valueID="0"的权限，这样就不会查到任何信息
                var showUrl = "../DeviceManage/Show?data=";
                $("#Create").attr('style', 'width:60px;margin-right:20px;');
            }
            $.ajax({
                url: showUrl,
                cache: false,
                success: function (json) {
                    var Rsp = mini.decode(json);
                    if (Rsp.ErrorCode == "Success") {
                        form.setData(Rsp.Obj);
                    } else {
                        mini.alert(Rsp.Message);
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    CloseWindow();
                }
            });
        }
        //保存数据
        function onSaveData(type) {
            var o = form.getData();
            var json = mini.encode(o);
            form.validate();
            if (form.isValid() == false) return;
            var url;
            if (type == "Create")
            {
                url = "../DeviceManage/Create";
            }
            else if (type == "Modify")
            {
                url = "../DeviceManage/Modify";
            }
            $.ajax({
                url: url,
                type: 'post',
                data: { data: json },
                cache: false,
                success: function (json) {
                    var Rsp = mini.decode(json);
                    if (Rsp.ErrorCode == "Success") {
                        CloseWindow("ok");
                    }
                    else {
                        alert(Rsp.Message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    CloseWindow();
                }
            });
        }
        function CloseWindow(action) {
            if (action == "close" && form.isChanged()) {
                if (confirm("@Resources.Common_Resource.ResourceManager.GetString("SaveDataOrNot")")) {
                    return false;
                }
            }
            if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
            else window.close();
        }
    </script>
</body>
</html>