<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>修改密码</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" /><link href="../demo.css" rel="stylesheet" type="text/css" />

    
    <script src="../../scripts/boot.js" type="text/javascript"></script>
        
    <link href="../../diysize.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <br/>
    <span style="width:20px;display:inline-block;">&nbsp&nbsp</span>
    <span style="width:120px;display:inline-block;">@Resources.Resource.ResourceManager.GetString("PleaseInputOldPswd")</span>
        <input class="mini-textbox" style="width:200px;" />
    <br /><br />
    <span style="width:20px;display:inline-block;">&nbsp&nbsp</span>
    <span style="width:120px;display:inline-block;">@Resources.Resource.ResourceManager.GetString("PleaseInputNewPswd")</span>
        <input class="mini-textbox" style="width:200px;"/>
    <br /><br />
    <span style="width:20px;display:inline-block;">&nbsp&nbsp</span>
    <span style="width:120px;display:inline-block;">@Resources.Resource.ResourceManager.GetString("PleaseInputNewPswdAgain")</span>
        <input class="mini-textbox" style="width:200px;"/>
    <br /><br />

    <span style="width:140px;display:inline-block;">&nbsp&nbsp</span>
        <span style="width:80px;">&nbsp&nbsp</span>
		<a class="mini-button" style="width:80px;" iconCls="icon-ok">@Resources.Resource.ResourceManager.GetString("Submit")</a>
		<span style="width:80px;">&nbsp&nbsp</span>
        <a class="mini-button" style="width:80px;" iconCls="icon-cancel">@Resources.Resource.ResourceManager.GetString("Cancel")</a>
            
    <script type="text/javascript">
        mini.parse();

      
    </script>

</body>
</html>
