<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>员工管理</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="../../Scripts/demo.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/boot.js" type="text/javascript"></script>
</head>
<body>
<style type="text/css">
    html, body{
        margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;
    }
        
</style>
    <h1>@Resources.EventTypeManage_Resource.ResourceManager.GetString("EventTypeManage")</h1>
    <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
            <table style="width:100%;">
                <tr>
                    <td style="width:100%;">
                        <a class="mini-button" iconCls="icon-edit" onclick="onModifyRow('Modify')">@Resources.Common_Resource.ResourceManager.GetString("Modify")</a>     
                    </td>
                </tr>
            </table>           
        </div>
<div class="mini-fit" >
    <div id ="datagrid1" class="mini-datagrid" style="width:100%;height:100%;" allowResize="true"
        url="Load"  idField="EventTypeID" multiSelect="true">
        <div property="columns">
            <div type="checkcolumn" ></div>                  
            <div field="EventTypeID" width="70" headerAlign="center" allowSort="true">@Resources.EventTypeManage_Resource.ResourceManager.GetString("EventTypeID")</div>    
            <div field="EventTypeName" width="70" headerAlign="center" allowSort="true" align="center">@Resources.EventTypeManage_Resource.ResourceManager.GetString("EventTypeName")</div> 
            <div field="ForegroundColor" width="70" headerAlign="center" allowSort="true" align="center">@Resources.EventTypeManage_Resource.ResourceManager.GetString("ForegroundColor")</div>    
            <div field="BackgroundColor" width="70" headerAlign="center" allowSort="true" align="center">@Resources.EventTypeManage_Resource.ResourceManager.GetString("BackgroundColor")</div>     
            <div field="Level" width="70" headerAlign="center" allowSort="true" align="center">@Resources.EventTypeManage_Resource.ResourceManager.GetString("Level")</div>   
            <div field="Visible" width="70" headerAlign="center" allowSort="true" align="center" renderer ="onYesRenderer">@Resources.EventTypeManage_Resource.ResourceManager.GetString("Visible")</div>
            <div field="Affirm" width="70" headerAlign="center" allowSort="true" align="center" renderer="onYesRenderer">@Resources.EventTypeManage_Resource.ResourceManager.GetString("Affirm")</div>
            <div field="Alarm" width="70" headerAlign="center" allowSort="true" align="center" renderer="onYesRenderer">@Resources.EventTypeManage_Resource.ResourceManager.GetString("Alarm")</div> 
              
                           
        </div>
    </div> 
</div>
    @Html.Partial("../Public/js")
    <script type="text/javascript">
        mini.parse();
        var grid = mini.get("#datagrid1");
        grid.load();
        //grid.sortBy("createtime", "desc");
        grid.on("drawcell", function (e) {
            var sender = e.sender;
            var record = e.record;
            var column = e.column;
            var field = e.field;
            var value = e.value;
            //给帐号列，增加背景色
            if ((field == "BackgroundColor") || (field == "ForegroundColor")) {
                e.cellStyle = "background:" + value;
            }

        });
        //新增、编辑窗口页面
        function onModifyRow(type) {
            var rows = grid.getSelecteds();
            var row = grid.getSelected();
            if (rows.length != 1)
            {
                mini.alert("@Resources.Common_Resource.ResourceManager.GetString("PleaseSelectRow")");
                return;
            }
            mini.open({
                url: "../EventTypeManage/ShowPage",
                title: "@Resources.Common_Resource.ResourceManager.GetString("Modify")", width: 350, height: 350,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { id: row.EventTypeID };
                    iframe.contentWindow.Show(data);
                },
                ondestroy: function (action) {
                    grid.reload();
                }
            });

        }
    </script>
</body>
</html>