@{
    ViewBag.Title = "EmployeeManage";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>员工管理</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="../../script/demo.css" rel="stylesheet" type="text/css" />
    <script src="../../scripts/boot.js" type="text/javascript"></script>
</head>
<body>
<style type="text/css">
    html, body{
        margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;
    }    
</style>
    <h1>员工管理</h1>      

        <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
            <table style="width:100%;">
                <tr>
                    <td style="width:100%;">
                        <a class="mini-button" iconCls="icon-add" onclick="onModifyRow('Create')">增加</a>
                        <a class="mini-button" iconCls="icon-edit" onclick="onModifyRow('Modify')">编辑</a>
                        <a class="mini-button" iconCls="icon-remove" onclick="remove()">删除</a>   
                        <a class="mini-button" iconCls="icon-user" onclick="leave()">离职</a> 
                        <a class="mini-button" iconCls="icon-goto" onclick="cancel()">注销</a> 
                        <a class="mini-button" iconCls="icon-new" onclick="card()">发卡</a>       
                    </td>
                    <td style="white-space:nowrap;">
                        <form id="searchForm" method="post">
                        <input id="key" name="EmployeeName" class="mini-textbox" emptyText="请输入姓名" style="width:150px;" onenter="onKeyEnter"/>   
                        <a class="mini-button" onclick="search()">查询</a>
                        </form>
                    </td>
                </tr>
            </table>           
        </div>
<div class="mini-fit" >
    <div id ="datagrid1" class="mini-datagrid" style="width:100%;height:100%;" allowResize="true"
        url="Load"  idField="EmployeeID" multiSelect="true">
        <div property="columns">
            <div type="checkcolumn" ></div>                  
            <div field="EmployeeCode" width="70" headerAlign="center" allowSort="true">@Resources.Label_Resource.ResourceManager.GetString("EmployeeManage_Code")</div>    
            <div field="EmployeeName" width="70" headerAlign="center" allowSort="true">@Resources.Label_Resource.ResourceManager.GetString("EmployeeManage_Name")</div>    
            <div field="Photo" width="70" headerAlign="center" allowSort="true">@Resources.Label_Resource.ResourceManager.GetString("EmployeeManage_Photo")</div>
            <div field="Sex" width="70" headerAlign="center" allowSort="true">@Resources.Label_Resource.ResourceManager.GetString("EmployeeManage_Sex")</div>   
            <div field="CardNo" width="70" headerAlign="center" allowSort="true">@Resources.Label_Resource.ResourceManager.GetString("EmployeeManage_CardNo")</div>
            <div field="EmpEnable" width="70" headerAlign="center" allowSort="true">@Resources.Label_Resource.ResourceManager.GetString("EmployeeManage_EmpEnable")</div>
            <div field="EndDate" width="70" headerAlign="center" allowSort="true">@Resources.Label_Resource.ResourceManager.GetString("EmployeeManage_EndDate")</div> 
            <div field="DeptID" width="70" headerAlign="center" allowSort="true">@Resources.Label_Resource.ResourceManager.GetString("EmployeeManage_DeptID")</div>    
            <div field="JobID" width="70" headerAlign="center" allowSort="true">@Resources.Label_Resource.ResourceManager.GetString("EmployeeManage_JobID")</div>    
            <div field="Leave" width="70" headerAlign="center" allowSort="true">@Resources.Label_Resource.ResourceManager.GetString("EmployeeManage_Leave")</div>

            <div field="PersonCode" width="70" headerAlign="center" allowSort="true">@Resources.Label_Resource.ResourceManager.GetString("EmployeeManage_PersonCode")</div>   
            <div field="Phone" width="70" headerAlign="center" allowSort="true">@Resources.Label_Resource.ResourceManager.GetString("EmployeeManage_Phone")</div>
            <div field="LastEventID" width="80" headerAlign="center" allowSort="true">@Resources.Label_Resource.ResourceManager.GetString("EmployeeManage_LastEventID")</div>
            <!--<div field="Car" width="70" headerAlign="center" allowSort="true"></div>
            <div field="JobID" width="70" headerAlign="center" allowSort="true"></div>    
            <div field="DeptID" width="70" headerAlign="center" allowSort="true">DeptID</div>    
            <div field="Photo" width="70" headerAlign="center" allowSort="true">Photo</div>
            <div field="RegDate" width="70" headerAlign="center" allowSort="true">RegDate</div>   
            <div field="EndDate" width="70" headerAlign="center" allowSort="true">EndDate</div>
            <div field="Deleted" width="70" headerAlign="center" allowSort="true">Deleted</div>

            <div field="Leave" width="70" headerAlign="center" allowSort="true">Leave</div> 
            <div field="LeaveDate" width="70" headerAlign="center" allowSort="true">LeaveDate</div>    
            <div field="BeKQ" width="70" headerAlign="center" allowSort="true">BeKQ</div>    
            <div field="MapID" width="70" headerAlign="center" allowSort="true">MapID</div>
            <div field="XPoint" width="70" headerAlign="center" allowSort="true">XPoint</div>   
            <div field="YPoint" width="70" headerAlign="center" allowSort="true">YPoint</div>
            <div field="MapVisible" width="70" headerAlign="center" allowSort="true">MapVisible</div>
            <div field="OwnerDoor" width="70" headerAlign="center" allowSort="true">OwnerDoor</div>
            <div field="LastEventID" width="70" headerAlign="center" allowSort="true">LastEventID</div>    
            <div field="Event2EmoID" width="70" headerAlign="center" allowSort="true">Event2EmoID</div>
                
            <div field="Status" width="70" headerAlign="center" allowSort="true">Status</div>
            <div field="TimeStamp" width="70" headerAlign="center" allowSort="true">TimeStamp</div>   
            <div field="ShowCardNo" width="70" headerAlign="center" allowSort="true">ShowCardNo</div>
            <div field="Note1" width="70" headerAlign="center" allowSort="true">Note1</div>
            <div field="Note2" width="70" headerAlign="center" allowSort="true">Note2</div> 
            <div field="Note3" width="70" headerAlign="center" allowSort="true">Note3</div>    
            <div field="Note4" width="70" headerAlign="center" allowSort="true">Note4</div>    
            <div field="Note5" width="70" headerAlign="center" allowSort="true">Note5</div>
            <div field="TimeStampx" width="70" headerAlign="center" allowSort="true">TimeStampx</div>   
            <div field="IsBlackCard" width="70" headerAlign="center" allowSort="true">IsBlackCard</div>

            <div field="AscString" width="70" headerAlign="center" allowSort="true">AscString</div>-->                  
        </div>
    </div> 
</div>
    <script type="text/javascript">
        mini.parse();
        var grid = mini.get("#datagrid1");
        grid.load();
        //grid.sortBy("createtime", "desc");


        //注销操作
        function cancel() {
            var rows = grid.getSelecteds();
            if (rows.length > 0) {
                if (confirm("确定注销选中记录？")) {

                    var ids = [];
                    for (var i = 0, l = rows.length; i < l; i++) {
                        var r = rows[i];
                        ids.push(r.EmployeeID);
                    }
                    var id = ids.join(',');
                    grid.loading("操作中，请稍后......");
                    $.ajax({
                        url: "../EmployeeManage/Cancel?idList=" + id,
                        type: 'post',
                        success: function (json) {
                            grid.reload();
                        },
                        error: function () {
                        }
                    });
                }
            } else {
                alert("请选中一条记录");
            }
        }
        //离职操作
        function leave() {
            var rows = grid.getSelecteds();
            if (rows.length > 0) {
                if (confirm("确定该员工已离职？")) {

                    var ids = [];
                    for (var i = 0, l = rows.length; i < l; i++) {
                        var r = rows[i];
                        ids.push(r.EmployeeID);
                    }
                    var id = ids.join(',');
                    grid.loading("操作中，请稍后......");
                    $.ajax({
                        url: "../EmployeeManage/Leave?idList=" + id,
                        type: 'post',
                        success: function (json) {
                            grid.reload();
                        },
                        error: function () {
                        }
                    });
                }
            } else {
                alert("请选中一条记录");
            }
        }
        //发卡操作
        function card() {
            var rows = grid.getSelecteds();
            if (rows.length > 0) {
                var ids = [];
                for (var i = 0, l = rows.length; i < l; i++) {
                    var r = rows[i];
                    ids.push(r.EmployeeID);
                }
                var id = ids.join(',');
                grid.loading("操作中，请稍后......");
                mini.open({
                    url: "../EmployeeManage/Card?idList=" + id,
                    title: "员工发卡", width: 560, height: 500,
                    onload: function () {
                    },
                    ondestroy: function (action) {
                        grid.reload();
                    }
                });
            } else {
                alert("请选中一条记录");
            }
        }
        //新增、编辑窗口页面
        function onModifyRow(type) {
            var rows = grid.getSelecteds();
            var row = grid.getSelected();
            if (type == 'Modify') {
                if (rows.length != 1) {
                    mini.alert("请选中一条记录");
                    return;
                }
                var titleName = "编辑员工";
                var value = row.EmployeeID;
            } else if (type == 'Create') {
                var titleName = "新增员工";
                var value = "";
            }
            mini.open({
                url: "../EmployeeManage/ShowPage",
                title: titleName, width: 560, height: 500,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { action: type, id: value };
                    iframe.contentWindow.Show(data);
                },
                ondestroy: function (action) {
                    grid.reload();

                }
            });

        }
        function remove() {
            
            var rows = grid.getSelecteds();

            if (rows.length > 0) {
                if (confirm("确定删除选中记录？")) {
           
                    var ids = [];
                    for (var i = 0, l = rows.length; i < l; i++) {
                        var r = rows[i];
                        ids.push(r.EmployeeID);
                    }
                    var id = ids.join(',');
                    grid.loading("操作中，请稍后......");
                    $.ajax({
                        url: "../EmployeeManage/Delete?idList=" + id,
                        type: 'post',
                        success: function (json) {
                            var rsp = mini.decode(json);
                            mini.alert(rsp.Message);
                            grid.reload();
                        },
                        error: function ()
                        {
                        }
                    });
                }
            } else {
                alert("请选中一条记录");
            }
        }

        //比如key={name:"asd",age:"123"};
        //gird.load(key);
        //后台string key1 = Request["name"];
        //string key2 = Request["age"];
        //这样获取
        function search() {
            var form = new mini.Form("#searchForm");
            var searchData = form.getData();
            var json = mini.encode(searchData);
            alert(json);
            grid.load({ data: json });

        }
        function onKeyEnter(e) {
            search();
        }
    </script>
</body>
</html>