<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>员工管理</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="../../script/demo.css" rel="stylesheet" type="text/css" />
    <script src="../../scripts/boot.js" type="text/javascript"></script>
     <script src="../../Scripts/jquery.progressbar/js/jquery.progressbar.min.js" type="text/javascript"></script>
             <script type="text/javascript">
                 $(document).ready(function () {
                     $("#bar").progressBar(0, { barImage: '../../Scripts/jquery.progressbar/images/progressbg_green.gif', showText: false,speed:5 });
                 });
		</script>
     <style  type="text/css">
     .my-label
     {
         padding-left: 1px;
         width: 200px;
         text-align:right;
     }
      .my-result
     {
         padding-left: 1px;
         width: 200px;
         text-align:left;
     }
     .Hide
     {
        display:none;    
     }
     </style>
        <style type="text/css">
             html, body{
        margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;
    }    
</style>
</head>
<body>
<style type="text/css">
    html, body{
        margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;
    }    
</style>
    <fieldset style="width:96%;border:solid 1px #aaa;margin-top:0px;position:relative;">
        <legend>@Resources.EmployeeManage_Resource.ResourceManager.GetString("EmployeeSearch")</legend>
        <div id="editForm1" style="padding:0px;">
            <input class="mini-hidden" name="id"/>
            <form id="searchForm" method="post">
            <table style="width:100%;">
                <tr>
                    <td style="width:40px;">@Resources.EmployeeManage_Resource.ResourceManager.GetString("Dept")</td>
                    <td style="width:130px;">
                        <input name="DeptID" class="mini-combobox" valueField="DeptID" textField="DeptName" 
                        url="../DeptManage/LoadTree" allowInput="true" showNullItem="true" nullItemText="@Resources.Common_Resource.ResourceManager.GetString("PleaseSelect")"
                        />
                    </td>
                    <td style="width:40px;">@Resources.EmployeeManage_Resource.ResourceManager.GetString("Job")</td>
                    <td style="width:130px;">
                        <input name="JobID" class="mini-combobox" valueField="JobID" textField="JobName"
                        url="../JobManage/LoadTree" allowInput="true" showNullItem="true" nullItemText="@Resources.Common_Resource.ResourceManager.GetString("PleaseSelect")"
                        />
                    </td>
                    <td style="width:40px;">@Resources.EmployeeManage_Resource.ResourceManager.GetString("EmployeeName")</td>
                    <td style="width:130px;">
                        <input name="EmployeeName" class="mini-textbox" />
                    </td>
                    <td style="width:40px;">@Resources.EmployeeManage_Resource.ResourceManager.GetString("EmployeeCode")</td>
                    <td style="width:150px;">
                        <input name="EmployeeCode" class="mini-textbox" />
                    </td>
                    <td style="width:150px;">
                        <a class="mini-button " iconCls="icon-search" onclick="search()">@Resources.Common_Resource.ResourceManager.GetString("Search")</a>
                    </td>  
                </tr>
            </table>
            </form>
        </div>
    </fieldset>          
    <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
            
        <table style="width:100%;">
            <tr>
                <td style="width:100%;">
                    <a class="mini-button" iconCls="icon-add" onclick="onModifyRow('Create')">@Resources.Common_Resource.ResourceManager.GetString("Create")</a>
                    <a class="mini-button" iconCls="icon-edit" onclick="onModifyRow('Modify')">@Resources.Common_Resource.ResourceManager.GetString("Modify")</a>
                    <a class="mini-button" iconCls="icon-remove" onclick="remove()">@Resources.Common_Resource.ResourceManager.GetString("Delete")</a>   
                    <a class="mini-button" iconCls="icon-undo" onclick="leave()">@Resources.EmployeeManage_Resource.ResourceManager.GetString("Leave")</a> 
                    <a class="mini-button" iconCls="icon-lock" onclick="cancel()">@Resources.EmployeeManage_Resource.ResourceManager.GetString("LogOut")</a> 
                    <a class="mini-button" iconCls="icon-node" onclick="card()">@Resources.EmployeeManage_Resource.ResourceManager.GetString("SendCard")</a>       
                    <a class="mini-button" iconCls="icon-node" onclick="privilege()">@Resources.EmployeeManage_Resource.ResourceManager.GetString("PrivilegeSet")</a>   
                    <a class="mini-button" iconCls="icon-node" onclick="downloadCard()">@Resources.EmployeeManage_Resource.ResourceManager.GetString("DownLoadCard")</a>   
                    <span class="bar Hide" style="text-align:right" >@Resources.Common_Resource.ResourceManager.GetString("OperationProgress")<span class="progressBar" id="bar"></span></span>  
                </td>

            </tr>
        </table>           
    </div>
<div class="mini-fit" >
    <div id ="datagrid1" class="mini-datagrid" style="width:100%;height:100%;" allowResize="true"
        url="Load"  idField="EmployeeID" multiSelect="true">
        <div property="columns">
            <div type="checkcolumn" ></div>                  
            <div field="EmployeeCode" width="70" headerAlign="center" allowSort="true">@Resources.EmployeeManage_Resource.ResourceManager.GetString("EmployeeCode")</div>    
            <div field="EmployeeName" width="70" headerAlign="center" allowSort="true" align="center">@Resources.EmployeeManage_Resource.ResourceManager.GetString("EmployeeName")</div>    
            <div field="AccessName" width="70" headerAlign="center" allowSort="true">@Resources.EmployeeManage_Resource.ResourceManager.GetString("Privilege")</div>
            <div field="Sex" width="70" headerAlign="center" allowSort="true" align="center" renderer="onSexRenderer">@Resources.EmployeeManage_Resource.ResourceManager.GetString("Sex")</div>   
            <div field="CardNo" width="70" headerAlign="center" allowSort="true">@Resources.EmployeeManage_Resource.ResourceManager.GetString("CardNo")</div>
            <div field="EmpEnable" width="70" headerAlign="center" allowSort="true" renderer="onYesRenderer">@Resources.EmployeeManage_Resource.ResourceManager.GetString("LogOut")</div>
            <div field="EndDate" width="70" headerAlign="center" allowSort="true" align="center" dateFormat="yyyy-MM-dd">@Resources.EmployeeManage_Resource.ResourceManager.GetString("EndDate")</div> 
            <div field="DeptName" width="70" headerAlign="center" allowSort="true" align="center">@Resources.EmployeeManage_Resource.ResourceManager.GetString("Dept")</div>    
            <div field="JobName" width="70" headerAlign="center" allowSort="true" align="center">@Resources.EmployeeManage_Resource.ResourceManager.GetString("Job")</div>    
            <div field="Leave" width="70" headerAlign="center" allowSort="true" align="center" renderer ="onYesRenderer">@Resources.EmployeeManage_Resource.ResourceManager.GetString("Leave")</div>
            <div field="PersonCode" width="70" headerAlign="center" allowSort="true">@Resources.EmployeeManage_Resource.ResourceManager.GetString("PersonCode")</div>   
            <div field="Phone" width="70" headerAlign="center" allowSort="true">@Resources.EmployeeManage_Resource.ResourceManager.GetString("Phone")</div>
            <div field="LastEventID" width="80" headerAlign="center" allowSort="true">@Resources.EmployeeManage_Resource.ResourceManager.GetString("LastEvent")</div>
            <!--<div field="Car" width="70" headerAlign="center" allowSort="true"></div>
            <div field="JobID" width="70" headerAlign="center" allowSort="true"></div>    
            <div field="DeptID" width="70" headerAlign="center" allowSort="true">DeptID</div>    
            <div field="Photo" width="70" headerAlign="center" allowSort="true">Photo</div>
            <div field="RegDate" width="70" headerAlign="center" allowSort="true">RegDate</div>   
            <div field="EndDate" width="70" headerAlign="center" allowSort="true">EndDate</div>
            <div field="Deleted" width="70" headerAlign="center" allowSort="true">Deleted</div>

            <div field="Leave" width="70" headerAlign="center" allowSort="true">Leave</div> 
            <div field="LeaveDate" width="70" headerAlign="center" allowSort="true">LeaveDate</div>    
            <div field="BeKQ" width="70" headerAlign="center" allowSort="true">BeKQ</div>    
            <div field="MapID" width="70" headerAlign="center" allowSort="true">MapID</div>
            <div field="XPoint" width="70" headerAlign="center" allowSort="true">XPoint</div>   
            <div field="YPoint" width="70" headerAlign="center" allowSort="true">YPoint</div>
            <div field="MapVisible" width="70" headerAlign="center" allowSort="true">MapVisible</div>
            <div field="OwnerDoor" width="70" headerAlign="center" allowSort="true">OwnerDoor</div>
            <div field="LastEventID" width="70" headerAlign="center" allowSort="true">LastEventID</div>    
            <div field="Event2EmoID" width="70" headerAlign="center" allowSort="true">Event2EmoID</div>
                
            <div field="Status" width="70" headerAlign="center" allowSort="true">Status</div>
            <div field="TimeStamp" width="70" headerAlign="center" allowSort="true">TimeStamp</div>   
            <div field="ShowCardNo" width="70" headerAlign="center" allowSort="true">ShowCardNo</div>
            <div field="Note1" width="70" headerAlign="center" allowSort="true">Note1</div>
            <div field="Note2" width="70" headerAlign="center" allowSort="true">Note2</div> 
            <div field="Note3" width="70" headerAlign="center" allowSort="true">Note3</div>    
            <div field="Note4" width="70" headerAlign="center" allowSort="true">Note4</div>    
            <div field="Note5" width="70" headerAlign="center" allowSort="true">Note5</div>
            <div field="TimeStampx" width="70" headerAlign="center" allowSort="true">TimeStampx</div>   
            <div field="IsBlackCard" width="70" headerAlign="center" allowSort="true">IsBlackCard</div>

            <div field="AscString" width="70" headerAlign="center" allowSort="true">AscString</div>-->                  
        </div>
    </div> 
</div>
    @Html.Partial("../Public/js")
    <script type="text/javascript">
        mini.parse();
        var grid = mini.get("#datagrid1");

        var barClock = 2000;       //定时器更新间隔
        var barStart = false;
        var barValue = 0;
        var barUUID = "";
        var barTimer;

        grid.load();
        //grid.sortBy("createtime", "desc");

        //注销操作
        function cancel() {
            var rows = grid.getSelecteds();
            if (rows.length > 0) {
                if (confirm("@Resources.EmployeeManage_Resource.ResourceManager.GetString("CancelConfirm")")) {

                    var ids = [];
                    for (var i = 0, l = rows.length; i < l; i++) {
                        var r = rows[i];
                        ids.push(r.EmployeeID);
                    }
                    var json = mini.encode(ids);
                    $.ajax({
                        url: "../EmployeeManage/Cancel",
                        type: 'post',
                        data: { data: json },
                        cache: false,
                        success: function (json) {
                            var Rsp = mini.decode(json);
                            if (Rsp.ErrorCode == "Success") {
                                grid.reload();
                            }
                            else {
                                mini.alert(text);
                            }
                        },
                        error: function () {
                        }
                    });
                }
            } else {
                mini.alert("@Resources.Common_Resource.ResourceManager.GetString("PleaseSelectRow")");
            }
        }

        ///下发卡片信息

        //进度条刷新过程
        var barHandler = function () {
            if (barStart) {
                url = "/Monitor/BarStatus?UUID=" + barUUID;

                $.ajax({
                    url: url,
                    type: 'post',
                    data: "",
                    cache: false,
                    success: function (text) {
                        var p = eval('(' + text + ')');
                        barValue = p.Obj;
                        $("#bar").progressBar(barValue);
                        if (barValue == 100) {
                            clearInterval(barTimer);
                            setTimeout(hideBar, 2000);

                        }

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(text);
                    }
                });
            }
        }
        function hideBar() {
            $(".bar").addClass('Hide');
            $("#bar").progressBar(0);
        }
        function downloadCard() {
            var rows = grid.getSelecteds();
            if (rows.length > 0) {
                if (confirm("@Resources.EmployeeManage_Resource.ResourceManager.GetString("DownLoadCardConfirm")")) {

                    var ids = [];
                    for (var i = 0, l = rows.length; i < l; i++) {
                        var r = rows[i];
                        ids.push(r.EmployeeID);
                    }
                    var id = ids.join(',');
                    $.ajax({
                        url: "../EmployeeManage/DownCardList?idList=" + id,
                        type: 'post',
                        success: function (json) {
                            var Rsp = mini.decode(json);
                            if (Rsp.ErrorCode == "Success") {
                                barUUID = Rsp.Obj;
                                $(".bar").removeClass("Hide");
                                barStart = true;
                                barTimer = setInterval(barHandler, barClock);
                            } else {
                                mini.alert(Rsp.Message);
                            }
                        },
                        error: function () {
                        }
                    });
                }
            } else {
                mini.alert("@Resources.Common_Resource.ResourceManager.GetString("PleaseSelectRow")");
            }
        }
        //离职操作
        function leave() {
            var rows = grid.getSelecteds();
            if (rows.length > 0) {
                if (confirm("@Resources.EmployeeManage_Resource.ResourceManager.GetString("LeaveConfirm")")) {

                    var ids = [];
                    for (var i = 0, l = rows.length; i < l; i++) {
                        var r = rows[i];
                        ids.push(r.EmployeeID);
                    }
                    var json = mini.encode(ids);
                    //grid.loading("操作中，请稍后......");
                    $.ajax({
                        url: "../EmployeeManage/Leave",
                        type: 'post',
                        data: { data: json },
                        cache: false,
                        success: function (json) {
                            var Rsp = mini.decode(json);
                            if (Rsp.ErrorCode == "Success") {
                                grid.reload();
                            }
                            else {
                                mini.alert(text);
                            }
                        },
                        error: function () {
                        }
                    });
                }
            } else {
                mini.alert("@Resources.Common_Resource.ResourceManager.GetString("PleaseSelectRow")");
            }
        }
        //发卡操作
        function card() {
            var rows = grid.getSelecteds();
            if (rows.length > 0) {
                var ids = [];
                for (var i = 0, l = rows.length; i < l; i++) {
                    var r = rows[i];
                    ids.push(r.EmployeeID);
                }
                var json = mini.encode(ids);
                mini.open({
                    url: "../EmployeeManage/Card",
                    title: "@Resources.EmployeeManage_Resource.ResourceManager.GetString("SendCard")", width: 560, height: 500,
                    onload: function () {
                        var iframe = this.getIFrameEl();
                        var data = {id: json };
                        iframe.contentWindow.Show(data);
                    },
                    ondestroy: function (action) {
                        grid.reload();
                    }
                });
            } else {
                mini.alert("@Resources.Common_Resource.ResourceManager.GetString("PleaseSelectRow")");
            }
        }
        //新增、编辑窗口页面
        function onModifyRow(type) {
            var rows = grid.getSelecteds();
            var row = grid.getSelected();
            if (type == 'Modify') {
                if (rows.length != 1) {
                    mini.alert("@Resources.Common_Resource.ResourceManager.GetString("PleaseSelectRow")");
                    return;
                }
                var titleName = "@Resources.Common_Resource.ResourceManager.GetString("Modify")";
                var value = row.EmployeeID;
            } else if (type == 'Create') {
                var titleName = "@Resources.Common_Resource.ResourceManager.GetString("Create")";
                var value = "";
            }
            mini.open({
                url: "../EmployeeManage/ShowPage",
                title: titleName, width: 560, height: 520,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { action: type, id: value };
                    iframe.contentWindow.Show(data);
                },
                ondestroy: function (action) {
                    grid.reload();

                }
            });
        }
        function remove() {
            
            var rows = grid.getSelecteds();

            if (rows.length > 0) {
                if (confirm("@Resources.Common_Resource.ResourceManager.GetString("DeleteRowConfirm")")) {
           
                    var ids = [];
                    for (var i = 0, l = rows.length; i < l; i++) {
                        var r = rows[i];
                        ids.push(r.EmployeeID);
                    }
                    var json = mini.encode(ids);
                    $.ajax({
                        url: "../EmployeeManage/Delete",
                        type: 'post',
                        data: { data: json },
                        cache: false,
                        success: function (json) {
                            var Rsp = mini.decode(json);
                            if (Rsp.ErrorCode == "Success") {
                                mini.alert("@Resources.Common_Resource.ResourceManager.GetString("DeleteSuccess")");
                                grid.reload();
                            }
                            else {
                                mini.alert(text);
                            }
                        },
                        error: function ()
                        {
                        }
                    });
                }
            } else {
                mini.alert("@Resources.Common_Resource.ResourceManager.GetString("PleaseSelectRow")");
            }
        }

        //员工搜索
        function search() {
            
            var form = new mini.Form("#searchForm");
            var searchData = form.getData();
            var json = mini.encode(searchData);
            grid.load({ data: json });

        }
        $("#key").bind("keydown", function (e) {
            
            if (e.keyCode == 13) {
                return false;
                
            }
        });
   
        //员工权限
        function privilege() {
            var rows = grid.getSelecteds();
            var row = grid.getSelected();
            if (rows.length != 1) {
                mini.alert("@Resources.Common_Resource.ResourceManager.GetString("PleaseSelectRow")");
                return;
            }
            var value = row.EmployeeID;
            mini.open({
                url: "../EmployeeManage/AccessPage",
                title: "@Resources.EmployeeManage_Resource.ResourceManager.GetString("PrivilegeSet")", width: 1024, height: 600,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = {id: value };
                    iframe.contentWindow.Show(data);
                },
                ondestroy: function (action) {
                    grid.reload();

                }
            });
        }

    </script>
</body>
</html>