@{
    ViewBag.Title = "EmployeeManage";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>员工管理</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="../../script/demo.css" rel="stylesheet" type="text/css" />
    <script src="../../scripts/boot.js" type="text/javascript"></script>
</head>
<body>
<style type="text/css">
    html, body{
        margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;
    }    
</style>
    <h1>@Resources.Label_Resource.ResourceManager.GetString("HolidayManage_HolidayManage")</h1>      

        <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
            <table style="width:100%;">
                <tr>
                    <td style="width:100%;">
                        <a class="mini-button" iconCls="icon-add" onclick="onModifyRow('Create')">@Resources.Label_Resource.ResourceManager.GetString("HolidayManage_Add")</a>
                        <a class="mini-button" iconCls="icon-edit" onclick="onModifyRow('Modify')">@Resources.Label_Resource.ResourceManager.GetString("HolidayManage_Edit")</a>
                        <a class="mini-button" iconCls="icon-remove" onclick="remove()">@Resources.Label_Resource.ResourceManager.GetString("HolidayManage_Delete")</a>       
                    </td>
                    @*<td style="white-space:nowrap;">
                        <input id="key" class="mini-textbox" emptyText="请输入姓名" style="width:150px;" onenter="onKeyEnter"/>   
                        <a class="mini-button" onclick="search()">@Resources.Label_Resource.ResourceManager.GetString("HolidayManage_Search")</a>
                    </td>*@
                </tr>
            </table>           
        </div>
<div class="mini-fit" >
    <div id ="datagrid1" class="mini-datagrid" style="width:100%;height:100%;" allowResize="true"
        url="Load"  idField="HolidayID" multiSelect="true">
        <div property="columns">
            <div field ="HolidayID" type="checkcolumn" ></div>                  
            <div field="HolidayID" width="70" headerAlign="center" allowSort="true">@Resources.Label_Resource.ResourceManager.GetString("HolidayManage_HolidayID")</div>    
            <div field="HolidayName" width="70" headerAlign="center" allowSort="true">@Resources.Label_Resource.ResourceManager.GetString("HolidayManage_HolidayName")</div>    
            <div field="StartTime" width="70" headerAlign="center" allowSort="true">@Resources.Label_Resource.ResourceManager.GetString("HolidayManage_StartTime")</div>
            <div field="EndTime" width="70" headerAlign="center" allowSort="true">@Resources.Label_Resource.ResourceManager.GetString("HolidayManage_EndTime")</div>   
            <div field="HolidayNote" width="70" headerAlign="center" allowSort="true">@Resources.Label_Resource.ResourceManager.GetString("HolidayManage_HolidayNote")</div>
                           
        </div>
    </div> 
</div>
    <script type="text/javascript">
        mini.parse();
        var grid = mini.get("#datagrid1");
        grid.load();
        //grid.sortBy("createtime", "desc");

        function onModifyRow(type) {

            var row = grid.getSelected();
            if (type == 'Modify') {
                if (!row)
                {
                    mini.alert("请选中一条记录");
                    return;
                }
                var titleName = "编辑假日";
                var value = row.HolidayID;
            }else if(type=='Create'){
                var titleName ="新增假日";
                var value = "";
            }
            mini.open({
                url: "../HolidayManage/ShowPage",
                title: titleName, width: 350, height: 350,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { action: type, id: value };
                    iframe.contentWindow.Show(data);
                },
                ondestroy: function (action) {
                    grid.reload();

                }
            });
            
        }

        function remove() {
            
            var rows = grid.getSelecteds();
            if (rows.length > 0) {
                if (confirm("确定删除选中记录？")) {
                    //获取选中的对象ID
                    var ids = [];
                    for (var i = 0, l = rows.length; i < l; i++) {
                        var r = rows[i];
                        ids.push(r.HolidayID);
                    }
                    var idList = mini.encode(ids);

                    grid.loading("操作中，请稍后......");
                    $.ajax({
                        url: "../HolidayManage/Delete?data=" + idList,
                        success: function (json) {
                            var Rsp = mini.decode(json);
                            if (Rsp.ErrorCode=="Success")
                            {
                                grid.reload();
                            }
                            mini.alert(Rsp.Message);
                        },
                        error: function () {
                        }
                    });
                }
            } else {
                alert("请选中一条记录");
            }
        }

        function search() {
            var key = mini.get("key").getValue();
            grid.load({ key: key });
        }
        function onKeyEnter(e) {
            search();
        }
        /////////////////////////////////////////////////
        function onBirthdayRenderer(e) {
            var value = e.value;
            if (value) return mini.formatDate(value, 'yyyy-MM-dd');
            return "";
        }
        function onMarriedRenderer(e) {
            if (e.value == 1) return "是";
            else return "否";
        }
        var Genders = [{ id: 1, text: '男' }, { id: 2, text: '女'}];        
        function onGenderRenderer(e) {
            for (var i = 0, l = Genders.length; i < l; i++) {
                var g = Genders[i];
                if (g.id == e.value) return g.text;
            }
            return "";
        }
    </script>
</body>
</html>